{"openapi":"3.0.2","info":{"title":"Clinicminds Analytics API","description":"API for fetching reports from Clinicminds for use with analytics tools.\n\n**Tip:** Access this specification with your Clinicminds account or API authentication to see parameter examples for your clinic.","termsOfService":"https:\/\/help.clinicminds.com\/articles\/2899008","contact":{"name":"Clinicminds Support","url":"https:\/\/help.clinicminds.com","email":"support@clinicminds.com"},"license":{"name":"UNLICENSED"},"version":"1.0.0"},"servers":[{"url":"https:\/\/app.clinicminds.com"}],"paths":{"\/api\/analytics\/patients":{"get":{"tags":["Patients"],"summary":"Patients","description":"An overview of patients with all patient details and an activity summary (date first\/last record, number of records\/treatments, and total spending).","operationId":"getPatients","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Registration date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Registration date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Appointment\/record location","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/patients-with-consultation-only":{"get":{"tags":["Patients"],"summary":"Patients with only a consultation","description":"An overview of patients who only had a consultation for a specific treatment category, with contact details and the consultation date.","operationId":"getPatientsWithConsultationOnly","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Consultation date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Consultation date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Consultation location","schema":{"type":"integer"}},{"name":"treatment_type_id","in":"query","description":"Treatment category","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/patients-with-treatment":{"get":{"tags":["Patients"],"summary":"Treated patients","description":"An overview of patients who had a treatment, with contact details.","operationId":"getPatientsWithTreatment","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Treatment date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Treatment date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Treatment location","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/patients-per-treatment":{"get":{"tags":["Patients"],"summary":"Patients by treatment","description":"An overview of patients who had a specific treatment, with contact details, the date of the last treatment, and the total spending on that treatment.","operationId":"getPatientsPerTreatment","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Treatment date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Treatment date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Treatment location","schema":{"type":"integer"}},{"name":"treatment_id","in":"query","description":"Treatment","schema":{"type":"integer"}},{"name":"treatment_type_id","in":"query","description":"Treatment category","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/patients-per-product":{"get":{"tags":["Patients"],"summary":"Patients by product sale","description":"An overview of patients who purchased a specific product, with contact details and the date of the last sale.","operationId":"getPatientsPerProduct","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Sale date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Sale date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Sale location","schema":{"type":"integer"}},{"name":"product_id","in":"query","description":"Product","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/patient-retention":{"get":{"tags":["Patients"],"summary":"Patient retention","description":"An overview of patients with contact details, information about their last treatment (date and number of days since treatment), and their total spending.","operationId":"getPatientRetention","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Last treatment date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Last treatment date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Treatment location","schema":{"type":"integer"}},{"name":"treatment_id","in":"query","description":"Treatment","schema":{"type":"integer"}},{"name":"treatment_type_id","in":"query","description":"Treatment category","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/patient-spending":{"get":{"tags":["Patients"],"summary":"Patient spending","description":"An overview of patients with contact details, their total spending, and their spending specified by treatment\/treatment package\/product.","operationId":"getPatientSpending","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Treatment\/sale date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Treatment\/sale date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Treatment\/sale location","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/patient-birthdays":{"get":{"tags":["Patients"],"summary":"Patient birthdays","description":"An overview of patients with contact details and information about their upcoming birthday (date and age).","operationId":"getPatientBirthdays","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"birthday_month","in":"query","description":"Birthday month","schema":{"type":"integer","maximum":12,"minimum":1}},{"name":"location_id","in":"query","description":"Appointment\/record location","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/number-of-patients":{"get":{"tags":["Patients"],"summary":"Number of new patients","description":"The number of new patients specified by referral\/treatment category\/treatment.","operationId":"getNumberOfPatients","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"First record date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"First record date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"First record location","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ObjectReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/emergency-contacts":{"get":{"tags":["Patients"],"summary":"Emergency contacts","description":"An overview of emergency contacts of patients.","operationId":"getEmergencyContacts","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/product-sales":{"get":{"tags":["Product sales"],"summary":"Product sales","description":"An overview of product sales with contact details of the patient and information about the sale (date, user, amount, and product).","operationId":"getProductSales","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"treating_user_id","in":"query","description":"User","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/number-of-product-sales":{"get":{"tags":["Product sales"],"summary":"Number of product sales","description":"The number of sales and the total revenue per product.","operationId":"getNumberOfProductSales","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/treatments":{"get":{"tags":["Records"],"summary":"Treatment data","description":"An overview of treatments with contact details of the patient and information about the treatment (date, practitioner, amount, diagnoses, ASA classification, treatment, and lot number).","operationId":"getTreatments","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"treating_user_id","in":"query","description":"User","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/aftertreatments":{"get":{"tags":["Records"],"summary":"Aftertreatments","description":"An overview of aftertreatments with contact details of the patient and information about the aftertreatment (date, practitioner, diagnoses, ASA classification, treatment, and lot number).","operationId":"getAftertreatments","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"treating_user_id","in":"query","description":"User","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/recall":{"get":{"tags":["Records"],"summary":"Recall","description":"An overview of lot numbers with contact details of the patient and information about the treatment (date, practitioner, amount, diagnoses, ASA classification, treatment, and lot number).","operationId":"getRecall","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"lot_number","in":"query","description":"Lot number","schema":{"type":"string"}},{"name":"treating_user_id","in":"query","description":"User","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/complications":{"get":{"tags":["Records"],"summary":"Complications","description":"An overview of complications with contact details of the patient and information about the treatment (date, practitioner, diagnoses, ASA classification, treatment, and lot number).","operationId":"getComplications","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/side-effects":{"get":{"tags":["Records"],"summary":"Side effects","description":"An overview of side effects with contact details of the patient and information about the treatment (date, practitioner, diagnoses, ASA classification, treatment, and lot number).","operationId":"getSideEffects","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/checklist-questions":{"get":{"tags":["Records"],"summary":"Record questions","description":"An overview of custom questions and answers in records, with details of the patient and information about the record (date, type, treatment categories, location, user, diagnoses, ASA classification).","operationId":"getChecklistQuestions","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"checklist","in":"query","description":"Questionnaire","required":true,"schema":{"enum":["anamnesis","risk_assessment","fiscal","medical_state","sign_in","time_out","sign_out","operative_report","machine_setting","treatment_report","inspection"],"type":"string"},"examples":{"Case history questions":{"value":"anamnesis"},"Risk assessment":{"value":"risk_assessment"},"Fiscal questions":{"value":"fiscal"},"Medical questions":{"value":"medical_state"},"Sign-in":{"value":"sign_in"},"Time-out":{"value":"time_out"},"Sign-out":{"value":"sign_out"},"Operative report":{"value":"operative_report"},"Device settings":{"value":"machine_setting"},"Treatment report":{"value":"treatment_report"},"Inspection questions":{"value":"inspection"}}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"record_type","in":"query","description":"Type","schema":{"enum":["data_before_appointment","consultation","treatment","inspection","aftertreatment","phone_call","message"],"type":"string"},"examples":{"Data before appointment":{"value":"data_before_appointment"},"Consultation":{"value":"consultation"},"Treatment":{"value":"treatment"},"Inspection":{"value":"inspection"},"Aftertreatment":{"value":"aftertreatment"},"Phone call":{"value":"phone_call"},"Message":{"value":"message"}}},{"name":"treatment_type_id","in":"query","description":"Treatment category","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/forms":{"get":{"tags":["Records"],"summary":"Signed forms","description":"An overview of forms signed by patients, with details of the patient and information about the record (date, type, treatment categories, location, user).","operationId":"getForms","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"form_id","in":"query","description":"Form","schema":{"type":"integer"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"treatment_type_id","in":"query","description":"Treatment category","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/prescriptions":{"get":{"tags":["Records"],"summary":"Prescriptions","description":"An overview of medicines on prescriptions, with details of the patient and information about the prescription (date, prescriber, status).\nAlso available: PDFs of prescriptions.","operationId":"getPrescriptions","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"user_id","in":"query","description":"Prescriber","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/records":{"get":{"tags":["Records"],"summary":"Records","description":"An overview of records with details of the patient and information about the record (date, type, treatment categories, location, user, diagnoses, ASA classification).\nAlso available: PDF exports of records.","operationId":"getRecords","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"record_type","in":"query","description":"Type","schema":{"enum":["data_before_appointment","consultation","treatment","inspection","aftertreatment","phone_call","message"],"type":"string"},"examples":{"Data before appointment":{"value":"data_before_appointment"},"Consultation":{"value":"consultation"},"Treatment":{"value":"treatment"},"Inspection":{"value":"inspection"},"Aftertreatment":{"value":"aftertreatment"},"Phone call":{"value":"phone_call"},"Message":{"value":"message"}}},{"name":"treatment_type_id","in":"query","description":"Treatment category","schema":{"type":"integer"}},{"name":"user_id","in":"query","description":"User","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/number-of-records":{"get":{"tags":["Records"],"summary":"Number of records","description":"The number of records and the total revenue specified by type\/treatment category\/treatment.","operationId":"getNumberOfRecords","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"user_id","in":"query","description":"User","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ObjectReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/appointments":{"get":{"tags":["Calendar"],"summary":"Appointments","description":"An overview of appointments with contact details of the patient and all appointment details.","operationId":"getAppointments","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Appointment date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Appointment date to","schema":{"format":"date","type":"string"}},{"name":"date2_from","in":"query","description":"Booking date from","schema":{"format":"date","type":"string"}},{"name":"date2_to","in":"query","description":"Booking date to","schema":{"format":"date","type":"string"}},{"name":"appointment_status","in":"query","description":"Status","schema":{"enum":["tentative","planned","occurred","cancelled","no_show"],"type":"string"},"examples":{"Tentative appointments":{"value":"tentative"},"Planned appointments":{"value":"planned"},"Occurred appointments":{"value":"occurred"},"Cancelled appointments":{"value":"cancelled"},"No-show appointments":{"value":"no_show"}}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"treatment_type_id","in":"query","description":"Treatment category","schema":{"type":"integer"}},{"name":"user_id","in":"query","description":"User","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/online-bookings":{"get":{"tags":["Calendar"],"summary":"Online bookings","description":"An overview of online bookings with contact details of the patient and all booking details.","operationId":"getOnlineBookings","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Appointment date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Appointment date to","schema":{"format":"date","type":"string"}},{"name":"date2_from","in":"query","description":"Booking date from","schema":{"format":"date","type":"string"}},{"name":"date2_to","in":"query","description":"Booking date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"online_booking_status","in":"query","description":"Status","schema":{"enum":["open","approved","rejected"],"type":"string"},"examples":{"Open online bookings":{"value":"open"},"Approved online bookings":{"value":"approved"},"Rejected online bookings":{"value":"rejected"}}},{"name":"service_id","in":"query","description":"Service","schema":{"type":"integer"}},{"name":"user_id","in":"query","description":"User","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/number-of-appointments":{"get":{"tags":["Calendar"],"summary":"Number of appointments","description":"The number of appointments specified by type\/treatment category\/status (planned\/occurred\/cancelled\/no-show).","operationId":"getNumberOfAppointments","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Appointment date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Appointment date to","schema":{"format":"date","type":"string"}},{"name":"date2_from","in":"query","description":"Booking date from","schema":{"format":"date","type":"string"}},{"name":"date2_to","in":"query","description":"Booking date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"user_id","in":"query","description":"User","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ObjectReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/working-times":{"get":{"tags":["Planning"],"summary":"Working times","description":"An overview of working times of each user.","operationId":"getWorkingTimes","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","required":true,"schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"user_id","in":"query","description":"User","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/blocks":{"get":{"tags":["Planning"],"summary":"Blocks","description":"An overview of blocks of each user.","operationId":"getBlocks","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","required":true,"schema":{"format":"date","type":"string"}},{"name":"user_id","in":"query","description":"User","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/quotes":{"get":{"tags":["Finance"],"summary":"Quotes","description":"An overview of quotes with contact details of the patient, information about the quote, and the date of the upcoming treatment with the treatment category of the quote.\nAlso available: PDFs of quotes.","operationId":"getQuotes","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"quote_status","in":"query","description":"Open quotes","schema":{"enum":["open","expired","invoiced","rejected"],"type":"string"},"examples":{"Open quotes":{"value":"open"},"Expired quotes":{"value":"expired"},"Invoiced quotes":{"value":"invoiced"},"Rejected quotes":{"value":"rejected"}}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/treatment-plan-lines":{"get":{"tags":["Finance"],"summary":"Prepaid treatments","description":"An overview of the packages\/treatments\/products on invoiced treatment plans\/quotes with contact details of the patient, information about the invoice, and the total and remaining amounts.","operationId":"getTreatmentPlanLines","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/invoices":{"get":{"tags":["Finance"],"summary":"Financial report & invoices","description":"An overview of invoices with contact details of the debtor, specified amounts (payment methods, treatments, packages, and products), and specified amounts of treatment materials.\nAlso available: PDFs of invoices.","operationId":"getInvoices","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"invoice_status","in":"query","description":"Status","schema":{"enum":["payment_afterwards","outstanding","credit"],"type":"string"},"examples":{"Invoices with payment afterwards":{"value":"payment_afterwards"},"Outstanding invoices":{"value":"outstanding"},"Credit invoices":{"value":"credit"}}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"user_id","in":"query","description":"User","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/sales-journal-entries":{"get":{"tags":["Finance"],"summary":"Sales journal entries","description":"All invoice lines for import as sales journal entries into a bookkeeping system.","operationId":"getSalesJournalEntries","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"show_tax_as_separate_entries","in":"query","description":"Show taxes in separate columns","schema":{"type":"boolean"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/payment-journal-entries":{"get":{"tags":["Finance"],"summary":"Payment journal entries","description":"All payments for import as payment journal entries into a bookkeeping system.","operationId":"getPaymentJournalEntries","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"show_accounts_receivable_entries","in":"query","description":"Show \u2018Accounts receivable\u2019 entries for payments afterwards","schema":{"type":"boolean"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/number-of-quotes":{"get":{"tags":["Finance"],"summary":"Number of quotes","description":"The number of quotes and the total outstanding amount specified by status (open\/expired\/invoiced\/rejected).","operationId":"getNumberOfQuotes","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ObjectReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/discount-code-redemptions":{"get":{"tags":["Finance"],"summary":"Discount code redemptions","description":"An overview of discount code redemptions with contact details of the patient and information about the redemption and discount.","operationId":"getDiscountCodeRedemptions","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/gift-card-balances":{"get":{"tags":["Finance"],"summary":"Gift cards","description":"An overview of all gift cards and their balances.","operationId":"getGiftCardBalances","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Sale date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Sale date to","schema":{"format":"date","type":"string"}},{"name":"date","in":"query","description":"Balance date","schema":{"format":"date","type":"string"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/gift-card-transactions":{"get":{"tags":["Finance"],"summary":"Gift card transactions","description":"All gift card transactions.","operationId":"getGiftCardTransactions","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"user_id","in":"query","description":"User","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/wallet-balances":{"get":{"tags":["Finance"],"summary":"Wallet balances","description":"An overview of all wallet balances.","operationId":"getWalletBalances","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date","in":"query","description":"Balance date","schema":{"format":"date","type":"string"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/wallet-transactions":{"get":{"tags":["Finance"],"summary":"Wallet transactions","description":"All wallet transactions.","operationId":"getWalletTransactions","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","schema":{"type":"integer"}},{"name":"user_id","in":"query","description":"User","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/prepayments":{"get":{"tags":["Finance"],"summary":"Prepayments","description":"All prepayments.","operationId":"getPrepayments","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/refunds":{"get":{"tags":["Finance"],"summary":"Refunds","description":"All refunds.","operationId":"getRefunds","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/product-stock":{"get":{"tags":["Administration"],"summary":"Product stock","description":"An overview of the current stock per product.","operationId":"getProductStock","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"location_id","in":"query","description":"Location","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/product-stock-adjustments":{"get":{"tags":["Administration"],"summary":"Product stock adjustments","description":"An overview of adjustments to the product stock.","operationId":"getProductStockAdjustments","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","required":true,"schema":{"type":"integer"}},{"name":"product_id","in":"query","description":"Product","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/treatment-material-stock":{"get":{"tags":["Administration"],"summary":"Treatment material stock","description":"An overview of the current stock per treatment material.","operationId":"getTreatmentMaterialStock","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"location_id","in":"query","description":"Location","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}},"\/api\/analytics\/treatment-material-stock-adjustments":{"get":{"tags":["Administration"],"summary":"Treatment material stock adjustments","description":"An overview of adjustments to the treatment material stock.","operationId":"getTreatmentMaterialStockAdjustments","parameters":[{"name":"format","in":"query","description":"Format","schema":{"enum":["csv","scsv","json"],"default":"json","type":"string"}},{"name":"date_from","in":"query","description":"Date from","schema":{"format":"date","type":"string"}},{"name":"date_to","in":"query","description":"Date to","schema":{"format":"date","type":"string"}},{"name":"location_id","in":"query","description":"Location","required":true,"schema":{"type":"integer"}},{"name":"treatment_id","in":"query","description":"Treatment","schema":{"type":"integer"}}],"responses":{"200":{"$ref":"#\/components\/responses\/ArrayReport"},"400":{"$ref":"#\/components\/responses\/Error"}}}}},"components":{"responses":{"ArrayReport":{"description":"Report","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object"}}},"text\/csv":{}}},"ObjectReport":{"description":"Report","content":{"application\/json":{"schema":{"type":"object"}},"text\/csv":{}}},"Error":{"description":"Error","content":{"application\/json":{"schema":{"type":"object"}}}}},"securitySchemes":{"ApiKeyHeaderAuth":{"type":"apiKey","description":"Clinicminds Analytics API Key in HTTP request header (recommended).","name":"X-Api-Key","in":"header"},"ApiKeyQueryAuth":{"type":"apiKey","description":"Clinicminds Analytics API Key in query string (GET parameter).\n\n**Warning:** This method is less secure than the header method.","name":"key","in":"query"}}},"security":[{"ApiKeyHeaderAuth":[]},{"ApiKeyQueryAuth":[]}],"tags":[{"name":"Patients"},{"name":"Product sales"},{"name":"Records"},{"name":"Calendar"},{"name":"Planning"},{"name":"Finance"},{"name":"Administration"}]}